example-search-product-and-update-media/src/main/app/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--

    Mule Magento Cloud Connector

    Copyright (c) MuleSoft, Inc.  All rights reserved.  http://www.mulesoft.com

    The software in this package is published under the terms of the CPAL v1.0
    license, a copy of which has been included with this distribution in the
    LICENSE.txt file.

-->

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
       xmlns:magento="http://www.mulesoft.org/schema/mule/magento"
       xmlns:s3="http://www.mulesoft.org/schema/mule/s3" 
       xmlns:json="http://www.mulesoft.org/schema/mule/json"
       xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
       xmlns:spring="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:http="http://www.mulesoft.org/schema/mule/http"
    xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.mulesoft.org/schema/mule/magento http://www.mulesoft.org/schema/mule/magento/1.1-SNAPSHOT/mule-magento.xsd
       http://www.mulesoft.org/schema/mule/core    http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd
       http://www.mulesoft.org/schema/mule/json    http://www.mulesoft.org/schema/mule/json/3.1/mule-json.xsd
       http://www.mulesoft.org/schema/mule/s3      http://www.mulesoft.org/schema/mule/s3/1.0/mule-s3.xsd
       http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/3.1/mule-scripting.xsd 
       http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/3.0/mule-http.xsd">
	
    <magento:config name="MagentoTest" username="${magentoUsername}"
		password="${magentoPassword}" address="${magentoAddress}" />     
 	<s3:config accessKey="${s3AccessKey}" secretKey="${s3SecretKey}" />
 	
	<flow name="SearchProducts">
 		<description>Searches for products that have a given product type</description>
 		<magento:list-products filter="eq(meta_keyword, 'technology')" />
 	</flow>

 <flow name="UploadMedia">
 	<description>
 		Downloads an Image from an S3 server, an uploads it to the magento server as 
 		a product image
 	</description>
    <message-properties-transformer scope="session">
		<add-message-property key="sku" value="#[ognl:get('sku')]" />
		<add-message-property key="filename" value="#[ognl:get('sku') + '.jpg']" />
	</message-properties-transformer>
 	<s3:get-object-content bucketName="${s3.bucketName}" key="#[header:session:filename]" />
 	<magento:create-product-attribute-media 
 		 content="#[payload]" 
 		 mimeType="JPEG" 
 		 productSku="#[header:session:sku]"/>
 </flow>
 
 <flow name="MainFlow">
 	<description>Searches Products by keyword, and updates their images</description>
 	<http:inbound-endpoint host="localhost" port="9090" path="magento-demo-search-product-and-update-media" />
 	<flow-ref name="SearchProducts"/>
 	<logger level="ERROR" message="#[payload]"/>
 	<collection-splitter/>
 	<flow-ref name="UploadMedia"/>
 </flow>
 
  <flow name="SetupMagentoFlow">
	<description>Creates some products in Magento for testing.</description>
	<http:inbound-endpoint host="localhost" port="9090" path="magento-demo-setup" />
	<magento:create-product set="4" sku="A04569"
		type="simple">
		<magento:attributes>
			<magento:attribute key="name" value="Blue Oak Chair"/>
			<magento:attribute key="status" value="1" />
		</magento:attributes>
	</magento:create-product>
	<magento:create-product set="4" sku="FF0AS489"
		type="simple">
		<magento:attributes>
			<magento:attribute key="name" value="Levis Jeans"/>
			<magento:attribute key="status" value="1" />
		</magento:attributes>
	</magento:create-product>
	<magento:create-product set="4" sku="1029H" type="simple">
		<magento:attributes>
			<magento:attribute key="name" value="Generic USB Mouse"/>
			<magento:attribute key="status" value="1" />
			<magento:attribute key="meta_keyword" value="technology" />
		</magento:attributes>
	</magento:create-product>
 </flow>
 
 <flow name="SetupS3BucketFlow">
 	<description>Creates a bucket in S3 for testing</description>
 	<logger level="ERROR" message="${s3.bucketName}"/>
 	<s3:create-bucket bucketName="${s3.bucketName}" />
 </flow>
 
 <flow name="SetupS3ImageFlow">
 	<description>Uploads an usb mouse image to s3</description>
	<outbound-endpoint address="http://www.zumbrovalley.net/ArcadeOptics/trackball/ms009s_top.jpg" />
	<s3:create-object content="#[payload]" bucketName="${s3.bucketName}" key="1029H.jpg" acl="PUBLIC_READ" />
 </flow>
 
</mule>