example-search-product-and-update-media/src/main/app/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--

    Mule Cloud Connector Development Kit
    Copyright (c) MuleSoft, Inc.  All rights reserved.  http://www.mulesoft.com

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
       xmlns:magento="http://www.mulesoft.org/schema/mule/magento"
       xmlns:s3="http://www.mulesoft.org/schema/mule/s3" 
       xmlns:json="http://www.mulesoft.org/schema/mule/json"
       xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
       xmlns:spring="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.mulesoft.org/schema/mule/magento http://www.mulesoft.org/schema/mule/magento/1.0-SNAPSHOT/mule-magento.xsd
       http://www.mulesoft.org/schema/mule/core    http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd
       http://www.mulesoft.org/schema/mule/json    http://www.mulesoft.org/schema/mule/json/3.1/mule-json.xsd
       http://www.mulesoft.org/schema/mule/s3      http://www.mulesoft.org/schema/mule/s3/1.0/mule-s3.xsd
       http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/3.1/mule-scripting.xsd 
       ">
	
    <magento:config name="MagentoTest" username="${magento.username}"
		password="${magento.password}" address="${magento.address}" />     
 	<s3:config accessKey="${s3.accessKey}" secretKey="${s3.secretKey}" />
 	
	<flow name="SearchProducts">
 		<description>Searches for products that have a given product type</description>
 		<magento:list-products filters="eq(type, '#[map-payload:productType]')" />
 	</flow>

 <flow name="UploadMedia">
 	<description>
 		Downloads an Image from an S3 server, an uploads it to the magento server as 
 		a product image
 	</description>
    <message-properties-transformer scope="session">
		<add-message-property key="sku" value="#[ognl:get('sku')]" />
	</message-properties-transformer>
 	<s3:get-object-content bucketName="#[header:session:bucketName]" key="#[header:session:sku]" />
 	<magento:create-product-attribute-media
 		 baseFileName="" 
 		 content="#[payload]" 
 		 mimeType="JPEG" 
 		 productSku="#[header:session:sku]"/>
 </flow>
 
 <flow name="MainFlow">
 	<description>For each image in the S3 directory, searches for products whose description
 	is contains any of the image keywords - stored as s3 metadata -, and uploads 
 	the image as a new media</description>
 	<flow-ref name="SearchProducts"/>
 	<logger level="ERROR" message="#[payload]"/>
 	<collection-splitter/>
 	<flow-ref name="UploadMedia"/>
 </flow>

 
</mule>