example-update-product/src/main/app/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--

    Mule Magento Cloud Connector

    Copyright (c) MuleSoft, Inc.  All rights reserved.  http://www.mulesoft.com

    The software in this package is published under the terms of the CPAL v1.0
    license, a copy of which has been included with this distribution in the
    LICENSE.txt file.

-->

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
       xmlns:magento="http://www.mulesoft.org/schema/mule/magento"
       xmlns:json="http://www.mulesoft.org/schema/mule/json"
       xmlns:mongodb="http://www.mulesoft.org/schema/mule/mongodb"
       xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
       xmlns:spring="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:http="http://www.mulesoft.org/schema/mule/http"
    xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.mulesoft.org/schema/mule/magento http://www.mulesoft.org/schema/mule/magento/1.1/mule-magento.xsd
       http://www.mulesoft.org/schema/mule/core    http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd
       http://www.mulesoft.org/schema/mule/json    http://www.mulesoft.org/schema/mule/json/3.1/mule-json.xsd
       http://www.mulesoft.org/schema/mule/mongodb http://www.mulesoft.org/schema/mule/mongodb/3.1/mule-mongodb.xsd
       http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/3.1/mule-scripting.xsd 
       http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/3.0/mule-http.xsd">
       
  <magento:config name="MagentoTest" username="${magentoUsername}"
		password="${magentoPassword}" address="${magentoAddress}" />     
  <mongodb:connector name="mongodb" database="${mongoDatabase}" hostname="${mongoHostname}" />

 <flow name="GetPriceUpdates">
 	<description>Looks for product price updates in a mongo db</description>
 	<mongodb:outbound-endpoint 
 		collection="priceUpdates"  
 		query='{}' 
 		exchange-pattern="request-response"/>
 </flow>
 
 <flow name="UpdateProductPrice">
 	<description>Updates product prices based on price updates in mongodb</description>
	<magento:update-product productSku="#[ognl:get('sku')]">
		<magento:attributes>
			<magento:attribute key="price" value="#[ognl:get('price')]"/>
		</magento:attributes>
	</magento:update-product> 	
 </flow>
 
 <flow name="MainFlow">
 	<description>For each update in a mongodb, update the corresponding product in magento</description>
 	<http:inbound-endpoint host="localhost" port="9091" path="magento-demo-update-product" />
 	<flow-ref name="GetPriceUpdates"/>
 	<collection-splitter/>
 	<flow-ref name="UpdateProductPrice"/>
 </flow>
</mule>
