example-update-product/src/main/app/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--

    Mule Cloud Connector Development Kit
    Copyright (c) MuleSoft, Inc.  All rights reserved.  http://www.mulesoft.com

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
       xmlns:magento="http://www.mulesoft.org/schema/mule/magento"
       xmlns:json="http://www.mulesoft.org/schema/mule/json"
       xmlns:mongodb="http://www.mulesoft.org/schema/mule/mongodb"
       xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
       xmlns:spring="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.mulesoft.org/schema/mule/magento http://www.mulesoft.org/schema/mule/magento/1.0-SNAPSHOT/mule-magento.xsd
       http://www.mulesoft.org/schema/mule/core    http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd
       http://www.mulesoft.org/schema/mule/json    http://www.mulesoft.org/schema/mule/json/3.1/mule-json.xsd
       http://www.mulesoft.org/schema/mule/mongodb http://www.mulesoft.org/schema/mule/mongodb/3.1/mule-mongodb.xsd
       http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/3.1/mule-scripting.xsd 
       ">
  <magento:config name="MagentoTest" username="${magento.username}"
		password="${magento.password}" address="${magento.address}" />     
  <mongodb:connector name="mongodb" database="${mongo.database}" hostname="${mongo.hostname}" />

 <flow name="GetPriceUpdates">
 	<description>Looks for product price updates in a mongo db</description>
 	<mongodb:outbound-endpoint 
 		collection="priceUpdates"  
 		query='{}' 
 		exchange-pattern="request-response"/>
 </flow>
 
 <flow name="UpdateProductPrice">
 	<description>Updates product prices based on price updates in mongodb</description>
	<magento:update-product productSku="#[ognl:get('sku')]">
		<magento:attributes>
			<magento:attribute key="price" value="#[ognl:get('price')]"/>
		</magento:attributes>
	</magento:update-product> 	
 </flow>
 
 <flow name="MainFlow">
 	<description>For each update in a mongodb, update the corresponding product in magento</description>
 	<flow-ref name="GetPriceUpdates"/>
 	<collection-splitter/>
 	<flow-ref name="UpdateProductPrice"/>
 </flow>
 
 <flow name="SetupFlow">
	<description>Creates some products in Magento for testing.</description>
	<magento:create-product set="4" sku="A04569"
		type="simple">
		<magento:attributes>
			<magento:attribute key="name" value="Blue Oak Chair"/>
			<magento:attribute key="status" value="1" />
		</magento:attributes>
	</magento:create-product>
	<magento:create-product set="4" sku="FF0AS489"
		type="simple">
		<magento:attributes>
			<magento:attribute key="name" value="Levis Jeans"/>
			<magento:attribute key="status" value="1" />
		</magento:attributes>
	</magento:create-product>
	<magento:create-product set="4" sku="1029H" type="simple">
		<magento:attributes>
			<magento:attribute key="name" value="Generic USB Mouse"/>
			<magento:attribute key="status" value="1" />
		</magento:attributes>
	</magento:create-product>
 </flow>
</mule>
