src/test/resources/magento-namespace-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--

    Mule Magento Cloud Connector

    Copyright (c) MuleSoft, Inc.  All rights reserved.  http://www.mulesoft.com

    The software in this package is published under the terms of the CPAL v1.0
    license, a copy of which has been included with this distribution in the
    LICENSE.txt file.

-->

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:magento="http://www.mulesoft.org/schema/mule/magento"
	xsi:schemaLocation="
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd
               http://www.mulesoft.org/schema/mule/magento http://www.mulesoft.org/schema/mule/magento/1.0-SNAPSHOT/mule-magento.xsd
               ">
               
	<!-- Order API -->               

	<magento:config name="MagentoTest" username="testUser"
		password="testPassword" address="testAddress" />


	<flow name="ListOrders">
		<inbound-endpoint address="vm://getSalesOrdersList"
			exchange-pattern="request-response" />
		<magento:list-orders
			filter="#[map-payload:operator](#[map-payload:filterKey], #[map-payload:orderId])" />
	</flow>

	<flow name="OrderInfo">
		<inbound-endpoint address="vm://getSalesOrderInfo"
			exchange-pattern="request-response" />
		<magento:get-order orderId="#[map-payload:orderId]"
			config-ref="MagentoTest" />
	</flow>

	<flow name="OrderHold">
		<inbound-endpoint address="vm://salesOrderHold"
			exchange-pattern="request-response" />
		<magento:hold-order orderId="#[map-payload:orderId]"
			config-ref="MagentoTest" />
	</flow>

	<flow name="OrderUnhold">
		<inbound-endpoint address="vm://salesOrderUnhold"
			exchange-pattern="request-response" />
		<magento:unhold-order orderId="#[map-payload:orderId]"
			config-ref="MagentoTest" />
	</flow>

	<flow name="OrderCancel">
		<inbound-endpoint address="vm://salesOrderCancel"
			exchange-pattern="request-response" />
		<magento:cancel-order orderId="#[map-payload:orderId]"
			config-ref="MagentoTest" />
	</flow>

	<flow name="OrderComment">
		<inbound-endpoint address="vm://salesOrderComment"
			exchange-pattern="request-response" />
		<magento:add-order-comment orderId="#[map-payload:orderId]"
			status="#[map-payload:status]" comment="#[map-payload:comment]"
			sendEmail="true" config-ref="MagentoTest" />
	</flow>

	<flow name="OrderShipmentsList">
		<inbound-endpoint address="vm://getSalesOrderShipmentsList"
			exchange-pattern="request-response" />
		<magento:list-orders-shipments filter="eq(order_id, #[map-payload:orderId])" />
	</flow>

	<flow name="GetOrderShipment">
		<inbound-endpoint address="vm://getSalesOrderShipmentInfo"
			exchange-pattern="request-response" />
		<magento:get-order-shipment
			shipmentId="#[map-payload:orderShipmentId]" config-ref="MagentoTest" />
	</flow>

	<flow name="CreateOrderShipment">

		<inbound-endpoint address="vm://createOrderShipment"
			exchange-pattern="request-response" />
		<magento:create-order-shipment orderId="#[map-payload:orderId]"
			comment="HelloWorld">
			<magento:itemsQuantities >
				<magento:itemsQuantity key="dsds" value="dsd"/>
			</magento:itemsQuantities>
		</magento:create-order-shipment>
	</flow>

	<flow name="ListOrdersInvoices">
		<inbound-endpoint address="vm://listOrdersInvoices"
			exchange-pattern="request-response" />
		<magento:list-orders-invoices
			filter="#[map-payload:operator](#[map-payload:filterKey], #[map-payload:orderId])" />
	</flow>

	<flow name="AddOrderShipmentTrack">
		<inbound-endpoint address="vm://addOrderShipmentTrack"
			exchange-pattern="request-response" />
		<magento:add-order-shipment-track
			shipmentId="#[map-payload:shipmentId]" carrierCode="#[map-payload:itemsQuantities]"
			title="#[map-payload:title]" trackId="#[map-payload:trackId]" />
	</flow>

	<flow name="DeleteOrdersShipmentTrack">
		<inbound-endpoint address="vm://deleteOrdersShipmentTrack"
			exchange-pattern="request-response" />
		<magento:delete-order-shipment-track
			shipmentId="#[map-payload:shipmentId]" trackId="#[map-payload:trackId]" />
	</flow>
	
	<flow name="AddOrderShipmentComment">
		<inbound-endpoint address="vm://addOrderShipmentComment"
			exchange-pattern="request-response" />
		<magento:add-order-shipment-comment
			shipmentId="#[map-payload:shipmentId]" 
			comment="#[map-payload:comment]" />
	</flow>
	
	<flow name="AddOrderInvoiceComment">
		<inbound-endpoint address="vm://addOrderInvoiceComment"
			exchange-pattern="request-response" />
		<magento:add-order-invoice-comment
			invoiceId="#[map-payload:shipmentId]" 
			comment="#[map-payload:comment]" />
	</flow>
	
	<flow name="VoidOrderInvoice">
		<inbound-endpoint address="vm://VoidOrderInvoice"
			exchange-pattern="request-response" />
		<magento:void-order-invoice
			invoiceId="#[map-payload:invoiceId]"  />
	</flow>
	
	<flow name="CancelOrder">
		<inbound-endpoint address="vm://CancelOrder"
			exchange-pattern="request-response" />
		<magento:cancel-order
			orderId="#[map-payload:orderId]"  />
	</flow>
	
	<flow name="GetOrderInvoice">
		<inbound-endpoint address="vm://GetOrderInvoice"
			exchange-pattern="request-response" />
		<magento:get-order-invoice
			invoiceId="#[map-payload:invoiceId]"  />
	</flow>
	
	<flow name="GetOrderShipmentCarriers">
		<inbound-endpoint address="vm://GetOrderShipmentCarriers"
			exchange-pattern="request-response" />
		<magento:get-order-shipment-carriers
			orderId="#[map-payload:orderId]"  />
	</flow>
	
	<flow name="CancelOrderInvoice">
		<inbound-endpoint address="vm://CancelOrderInvoice"
			exchange-pattern="request-response" />
		<magento:cancel-order-invoice
			invoiceId="#[map-payload:invoiceId]"  />
	</flow>
	
	<flow name="CaptureOrderInvoice">
		<inbound-endpoint address="vm://CaptureOrderInvoice"
			exchange-pattern="request-response" />
		<magento:capture-order-invoice
			invoiceId="#[map-payload:invoiceId]"  />
	</flow>
	
	
	<!-- Customer API -->
	
	<flow name="CreateCustomerAddress">
		<inbound-endpoint address="vm://CreateCustomerAddress"
			exchange-pattern="request-response" />
		<magento:create-customer-address
			customerId="#[map-payload:customerId]"  >
			<magento:attributes >
				<magento:attribute key="city_code" value="#[map-payload:cityCode]"/>
			</magento:attributes>
		</magento:create-customer-address>
	</flow>
	
	<flow name="CreateCustomer">
		<inbound-endpoint address="vm://CreateCustomer"
			exchange-pattern="request-response" />
		<magento:create-customer>
			<magento:attributes >
				<magento:attribute key="customer_names" value="#[map-payload:customerName]"/>
			</magento:attributes>
		</magento:create-customer>
	</flow>
	
	<flow name="DeleteCustomer">
		<inbound-endpoint address="vm://DeleteCustomer"
			exchange-pattern="request-response" />
		<magento:delete-customer customerId="#[map-payload:customerId]" />
	</flow>
	
	<flow name="DeleteCustomerAddress">
		<inbound-endpoint address="vm://DeleteCustomerAddress"
			exchange-pattern="request-response" />
		<magento:delete-customer-address addressId="#[map-payload:addressId]" />
	</flow>
	
	<flow name="GetCustomer">
		<inbound-endpoint address="vm://GetCustomer"
			exchange-pattern="request-response" />
		<magento:get-customer  customerId="#[map-payload:customerId]"  >
			<magento:attributeNames>
				<magento:attributeName>customer_name</magento:attributeName>
				<magento:attributeName>customer_last_name </magento:attributeName>
				<magento:attributeName>customer_age</magento:attributeName>
			</magento:attributeNames>
		</magento:get-customer>
	</flow>
	
	<flow name="GetCustomerAddress">
		<inbound-endpoint address="vm://GetCustomerAddress"
			exchange-pattern="request-response" />
		<magento:get-customer-address  addressId="#[map-payload:addressId]"  />
	</flow>
	
	<flow name="ListCustomers">
		<inbound-endpoint address="vm://ListCustomers"
			exchange-pattern="request-response" />
		<magento:list-customers filters="gteq(customer_age, #[map-payload:minCustomerAge])" />
	</flow>
	
	<!-- Directory API -->
	
	<!-- TODO -->
	
	<!-- Catalog API -->
	
	<!-- TODO -->
</mule>
