src/test/resources/magento-namespace-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--

    Mule Magento Cloud Connector

    Copyright (c) MuleSoft, Inc.  All rights reserved.  http://www.mulesoft.com

    The software in this package is published under the terms of the CPAL v1.0
    license, a copy of which has been included with this distribution in the
    LICENSE.txt file.

-->

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:magento="http://www.mulesoft.org/schema/mule/magento"
	xsi:schemaLocation="
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd
               http://www.mulesoft.org/schema/mule/magento http://www.mulesoft.org/schema/mule/magento/1.0-SNAPSHOT/mule-magento.xsd
               ">

	<magento:config name="MagentoTest" username="testUser"
		password="testPassword" address="testAddress" />


	<flow name="MagentoOrdersList">
		<inbound-endpoint address="vm://getSalesOrdersList"
			exchange-pattern="request-response" />
		<magento:list-orders
			filter="#[map-payload:operator](#[map-payload:filterKey], #[map-payload:orderId])" />
	</flow>

	<flow name="MagentoOrderInfo">
		<inbound-endpoint address="vm://getSalesOrderInfo"
			exchange-pattern="request-response" />
		<magento:get-order orderId="#[map-payload:orderId]"
			config-ref="MagentoTest" />
	</flow>

	<flow name="MagentoOrderHold">
		<inbound-endpoint address="vm://salesOrderHold"
			exchange-pattern="request-response" />
		<magento:hold-order orderId="#[map-payload:orderId]"
			config-ref="MagentoTest" />
	</flow>

	<flow name="MagentoOrderUnhold">
		<inbound-endpoint address="vm://salesOrderUnhold"
			exchange-pattern="request-response" />
		<magento:unhold-order orderId="#[map-payload:orderId]"
			config-ref="MagentoTest" />
	</flow>

	<flow name="MagentoOrderCancel">
		<inbound-endpoint address="vm://salesOrderCancel"
			exchange-pattern="request-response" />
		<magento:cancel-order orderId="#[map-payload:orderId]"
			config-ref="MagentoTest" />
	</flow>

	<flow name="MagentoOrderComment">
		<inbound-endpoint address="vm://salesOrderComment"
			exchange-pattern="request-response" />
		<magento:add-order-comment orderId="#[map-payload:orderId]"
			status="#[map-payload:status]" comment="#[map-payload:comment]"
			sendEmail="true" config-ref="MagentoTest" />
	</flow>

	<flow name="MagentoOrderShipmentsList">
		<inbound-endpoint address="vm://getSalesOrderShipmentsList"
			exchange-pattern="request-response" />
		<magento:list-orders-shipments filter="eq(order_id, #[map-payload:orderId])" />
	</flow>

	<flow name="MagentoOrderShipmentInfo">
		<inbound-endpoint address="vm://getSalesOrderShipmentInfo"
			exchange-pattern="request-response" />
		<magento:get-order-shipment
			shipmentId="#[map-payload:orderShipmentId]" config-ref="MagentoTest" />
	</flow>

	<flow name="MagentoCreateOrderShipment">

		<inbound-endpoint address="vm://createOrderShipment"
			exchange-pattern="request-response" />
		<magento:create-order-shipment orderId="#[map-payload:orderId]"
			comment="HelloWorld">
			<magento:itemsQuantities >
				<magento:itemsQuantity key="dsds" value="dsd"/>
			</magento:itemsQuantities>
		</magento:create-order-shipment>
	</flow>

	<flow name="MagentoListOrdersInvoices">
		<inbound-endpoint address="vm://listOrdersInvoices"
			exchange-pattern="request-response" />
		<magento:list-orders-invoices
			filter="#[map-payload:operator](#[map-payload:filterKey], #[map-payload:orderId])" />
	</flow>

	<flow name="MagentoAddOrderShipmentTrack">
		<inbound-endpoint address="vm://addOrderShipmentTrack"
			exchange-pattern="request-response" />
		<magento:add-order-shipment-track
			shipmentId="#[map-payload:shipmentId]" carrier="#[map-payload:itemsQuantities]"
			title="#[map-payload:title]" trackId="#[map-payload:trackId]" />
	</flow>

	<flow name="MagentoRemoveOrdersShipmentTrack">
		<inbound-endpoint address="vm://removeOrdersShipmentTrack"
			exchange-pattern="request-response" />
		<magento:remove-order-shipment-track
			shipmentId="#[map-payload:shipmentId]" trackId="#[map-payload:trackId]" />
	</flow>
	
	<flow name="MagentoAddOrderShipmentComment">
		<inbound-endpoint address="vm://addOrderShipmentComment"
			exchange-pattern="request-response" />
		<magento:add-order-shipment-comment
			shipmentId="#[map-payload:shipmentId]" 
			comment="#[map-payload:comment]" />
	</flow>
	
	<flow name="MagentoAddOrderInvoiceComment">
		<inbound-endpoint address="vm://addOrderInvoiceComment"
			exchange-pattern="request-response" />
		<magento:add-order-invoice-comment
			invoiceId="#[map-payload:shipmentId]" 
			comment="#[map-payload:comment]" />
	</flow>
	
	<flow name="MagentoVoidOrderInvoice">
		<inbound-endpoint address="vm://voidOrderInvoice"
			exchange-pattern="request-response" />
		<magento:void-order-invoice
			invoiceId="#[map-payload:invoiceId]"  />
	</flow>
<!-- TODO
	
CaptureOrderInvoiceOperationDefinitionParser	
GetOrderInvoiceInfoOperationDefinitionParser	
CancelOrderInvoiceOperationDefinitionParser	
GetOrderShipmentCarriersOperationDefinitionParser
 -->
</mule>
